.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}

.navbar-brand:hover {
  color: rgb(245, 221, 9) !important;
}

.nav-link:hover {
  color: rgb(245, 221, 9) !important;
}

.active {
  color: rgb(245, 221, 9) !important;
}