$cor_principal: #1183F5;
$cor_secundaria: #FF856B;
$fundo_main: #fcfcfc;
$borda_main: #e4a761;
    
.main-container {
    background-color: $fundo_main;
    //border: 1px solid $borda_main;
    width: 90vw;
    margin: auto;
    margin-top: 30px;
}


@media(max-width: 600px) {
    .main-container {
        width: 100vw;
    }
  }

