<div class="container">
    <h2>Listagem de filmes</h2>
        <div style="margin-bottom: 10px">
            <a [routerLink]="['/movie/register']" class='btn btn-primary'><i class="fas fa-plus-circle"></i> Novo Filme</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Lançamento</th>
                    <th>Gênero</th>
                    <th class="col-acoes">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of movies">
                    <td>{{ movie.name | titlecase }}</td>
                    <td>{{ movie.releaseDate | date:'dd-MM-yyyy' }}</td>
                    <td>{{ movie.gender.name }}</td>
                    <td>
                        <a (click)="toggleEdit()" class="btn btn-editar">
                            <i class="fas fa-pencil"></i>
                        </a>
                        <a   class="btn btn-visualizar">
                            <i class="fas fa-eye"></i>
                        </a> 
                        <a (click)="toggleDelete()" class="btn btn-excluir">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
    
                    <div *ngIf="showDelete">
                        <div class="modal">
                            <app-movie-delete [movie]="movie"  (newShowEditEvent)="toggleDeleteResponse($event)"></app-movie-delete>
                        </div>
                        <div (click)="toggleDelete()" class="overlay"></div>
                    </div>

                    <div *ngIf="showEdit">
                        <div class="modal-edit">
                            <app-movie-edit [movie]="movie" (newShowEdit)="closeEditModal($event)"></app-movie-edit>
                        </div>
                        <div (click)="toggleEdit()" class="overlay"></div>
                    </div>
                </tr>
            </tbody>
        </table>
        <app-pagination class="pagination"></app-pagination>
</div>
