<div class="title">
    <h2>Catalágo de Filmes</h2>
    <hr>
</div>

<div class="cards">
<div *ngFor="let movie of movies" >

 

    
    <div class="card">
        <div class="container-img">
            <img src="{{ movie.full_path }}" alt="Não veio">
        </div>
        <div class="container-texts">
            <h1>{{ movie.name }}</h1>
            <!-- <p>Sinopse: {{ movie.synopsis}}</p> -->
            <p>Bilheteria: {{ movie.box_office}}</p>
        </div>
        <div class="container-button">
            <button class="button">Ver trailer</button>
            <button class="button">Ler mais</button>
        </div>
    </div>


</div>
</div>