<div class="container">
    <div class="alert alert-primary" *ngIf="hasSuccess">{{ successMessage }}</div>

        
    <div class="alert alert-danger" *ngIf="hasErrors">
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>
    
    <h2>Cadastro de filme</h2>
    <div class="container-all-form">



        <form action="">
            <div class="form-container">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" [(ngModel)]="movie.name">
            </div>
            <div class="form-container">
                <label for="synopsis">Sinopse</label>
                <textarea id="synopsis" name="synopsis" [(ngModel)]="movie.synopsis"></textarea>
            </div>
            <div class="form-container">
                <label for="releaseDate">Data de Lançamento</label>
                <input type="date" id="releaseDate" name="releaseDate" [(ngModel)]="movie.releaseDate">
            </div>
            <div class="form-container">
                <label for="boxOffice">Bilheteria</label>
                <input type="text" id="boxOffice" name="boxOffice" [(ngModel)]="movie.boxOffice">
            </div>
            <div class="form-container">
                <label for="poster">Imagem</label>
                <input type="file" id="poster" name="poster" [(ngModel)]="movie.poster" (change)="handleFile($event.target.files)">
            </div>

            <div class="form-container">
                <label for="gender">Genero</label>
                <select id="gender" name="gender" [(ngModel)]="movie.gender">
                    <option value="">Selecione</option>
                    <option *ngFor="let gender of genders" [value]="gender.id">
                        {{ gender.name }}
                    </option>
                </select>
            </div>

            <button type="button" class="btn-salvar" (click)="addMovie()">Salvar</button>
        </form>
    </div>

</div>