
<form action="">
    <h1>Login</h1>
    <div class="errors" *ngIf="hasErrors">
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>
    <div class="form-input">
        <label for="email">Login</label>
        <input type="text" name="email" id="email" [(ngModel)]="user.email">
        <label for="password">Password</label>
        <input type="text" name="password" id="password" [(ngModel)]="user.password">

        <div class="btn-container">
            <button (click)="logar()">Entrar</button>
        </div>
    </div>

</form>