.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card {
    width: 18rem; 
    min-height: 404px;
    p {
        min-height: 72px;
    }
}

.container-img {
    width: 280px;
    height: 300px;
}

.card-img-top{
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
}

.pagination {
    justify-content: center;
}

