.container {
    display: flex;
    flex-direction: column;
}

.cards {
    width: 100%;
    max-width: 980px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card {
    width: 18rem; 
    //height: 20rem;
}
.container-img {
    width: 280px;
    height: 300px;
}

.card-img-top{
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
}

.pagination {
    justify-content: center;
}

