<div class="container">
  <h2>Filmes</h2>
  <div class="cards">
    <div *ngFor="let movie of movies" >
        <div class="card" style="">
            <img class="card-img-top" [src]="movie.fullPath" alt="Image not found">
            <div class="card-body">
              <h5 class="card-title">{{ movie.name }}</h5>
              <p class="card-text">{{ movie.synopsis | slice:0:100 }} ...</p>
              <a class="btn btn-primary mr-3">Ler mais</a>
              <a class="btn btn-primary" [href]="movie.trailer" target="_blank">Ver trailer</a>
            </div>
          </div>
    </div>
  </div>
  <app-pagination class="pagination"></app-pagination>  
</div>

