<div class="card">
    <div class="container-img">
        <img src="https://m.media-amazon.com/images/I/91J7VHbAwBL._AC_SL1500_.jpg" alt="">
    </div>
    <div class="container-texts">
        <h1>Vigadores</h1>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p> -->
        <p>Bilheteria: 500.000.000</p>
    </div>
    <div class="container-button">
        <button class="button">Ver trailer</button>
        <button class="button">Ler mais</button>
    </div>
</div>
