
.container-all-form{
    width: 100%;
    border-radius: 5px;
}

.form-container {

    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
    }

   
    input,
    select,
    textarea {
        width: 90%;
        font-size: 1rem;
        padding: 3px;
    }
    input,
    select {
        height: 30px;
    }

    textarea {
        height: 150px;
    }
}


.img-container {
    width: 200px;
    border: 1px solid;
}

img {
    width: 200px;
}

.img-group {
    display: flex;
}