<div class="container">
    <div class="title">
        <h2>Editar Filme</h2>
    </div>

    <div class="container-all-form">
       
        <div class="errors" *ngIf="hasErrors">
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>
        <div class="success" *ngIf="hasSuccess">{{ successMessage }}</div>

        <form action="">
            <div class="form-container">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" [(ngModel)]="movie.name">
            </div>
            <div class="form-container">
                <label for="synopsis">Sinopse</label>
                <textarea id="synopsis" name="synopsis" [(ngModel)]="movie.synopsis"></textarea>
            </div>
            <div class="form-container">
                <label for="release_date">Data de Lançamento</label>
                <input type="date" id="release_date" name="release_date" [(ngModel)]="movie.release_date">
            </div>
            <div class="form-container">
                <label for="boxOffice">Bilheteria</label>
                <input type="text" id="boxOffice" name="boxOffice" [(ngModel)]="movie.boxOffice">
            </div>
            <div class="form-container">
                <label for="poster">Imagem</label>
                <input type="file" id="poster" name="poster" [(ngModel)]="movie.poster" (change)="handleFile($event.target.files)">
            </div>

            <div class="form-container">
                <label for="gender">Genero</label>
                <select id="gender" name="gender" [(ngModel)]="movie.gender">
                    <option value="">Selecione</option>
                    <option *ngFor="let gender of genders" [value]="gender.id">
                        {{ gender.name }}
                    </option>
                </select>
            </div>

            <div class="form-container">
                <button type="button" class="btn-salvar" (click)="addMovie()">Salvar</button>
                <button type="button" class="btn-salvar" (click)="close()">Fechar</button>
            </div>

        </form>
    </div>

</div>