<div class="container">
  <h2>Editar de filme</h2>

  <form #form="ngForm">
    <div class="form-group">
      <label for="name">Nome</label>
      <input
        class="form-control"
        type="input"
        id="name"
        name="name"
        placeholder="Digite nome do filme"
        [(ngModel)]="movie.name"
        required
        minlength="5"
        #name="ngModel"
      />
      <div
        class="invalid-feedback"
        *ngIf="name.errors?.required && name.touched"
      >
        Campo obrigatório!
      </div>
      <div
        class="invalid-feedback"
        *ngIf="name.errors?.minlength && name.touched"
      >
        Tamanho minimo 5 caracteres!
      </div>
    </div>

    <div class="form-group">
      <label for="synopsis">Sinopse</label>
      <textarea
        class="form-control"
        id="synopsis"
        name="synopsis"
        placeholder="Digite a sinopse do filme"
        [(ngModel)]="movie.synopsis"
        required
        minlength="10"
        #synopsis="ngModel"
      ></textarea>
      <div
        class="invalid-feedback"
        *ngIf="synopsis.errors?.required && synopsis.touched"
      >
        Campo obrigatório!
      </div>
      <div
        class="invalid-feedback"
        *ngIf="synopsis.errors?.minlength && synopsis.touched"
      >
        Tamanho minimo 10 caracteres!
      </div>
    </div>

    <div class="form-group">
      <label for="name">Trailer</label>
      <input
        class="form-control"
        type="input"
        id="trailer"
        name="trailer"
        placeholder="URL do trailer"
        required
        [(ngModel)]="movie.trailer"
        #trailer="ngModel"
      />
      <div
        class="invalid-feedback"
        *ngIf="trailer.errors?.required && trailer.touched"
      >
        Campo obrigatório!
      </div>
    </div>

    <div class="form-group">
      <label for="releaseDate">Data de Lançamento</label>
      <input
        class="form-control"
        type="date"
        id="releaseDate"
        name="releaseDate"
        required
        [(ngModel)]="movie.releaseDate"
        #releaseDate="ngModel"
      />
      <div
        class="invalid-feedback"
        *ngIf="releaseDate.errors?.required && releaseDate.touched"
      >
        Campo obrigatório!
      </div>
    </div>

    <div class="form-group">
      <label for="boxOffice">Bilheteria</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="boxOffice"
          name="boxOffice"
          placeholder="Digite a bilheteria do filme"
          required
          [(ngModel)]="movie.boxOffice"
          #boxOffice="ngModel"
        />
      </div>
      <div
        class="invalid-feedback"
        *ngIf="boxOffice.errors?.required && boxOffice.touched"
      >
        Campo obrigatório!
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Genero</label>
      <select
        class="custom-select"
        id="gender"
        name="gender"
        placeholder="Selecione um gênero"
        required
        [(ngModel)]="movie.gender"
        #gender="ngModel"
      >
        <ng-container *ngFor="let gender of genders">
          <option [ngValue]="movie.gender">
            {{ gender.name }}
          </option>
        </ng-container>
      </select>
      <div
        class="invalid-feedback"
        *ngIf="gender.errors?.required && gender.touched"
      >
        Campo obrigatório!
      </div>
    </div>

    <div class="">
      <div class="form-group">
        <label for="poster">Selecione uma imagem:</label>
        <input
          class="form-control-file"
          type="file"
          id="poster"
          name="poster"
          (change)="handleFile($event)"
        />
      </div>
      <div class="img-fluid">
        <img [src]="filePath" />
      </div>
    </div>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onEdit()"
        [disabled]="form.invalid"
      >
        Editar
      </button>
      <button type="button" class="btn btn-danger" (click)="onClose()">
        Fechar
      </button>
    </div>
  </form>
</div>
